@font-face {
    font-family: "Neue Machina";
    src: url('../fonts/neue_machina/NeueMachina-Regular.otf');
    src: url('../fonts/neue_machina/NeueMachina-Regular.otf') format('opentype');
}

:root {
    --background-color: #F0F0F0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 332px;
    height: 52px;
    padding: 14px;
}

.nav__main {
    display: flex;
    justify-content: flex-start;
}

.nav__auth {
    display: flex;
    justify-content: flex-end;
}

.nav__logo, .nav__hamburger {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav__hamburger {
    display: none;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__li {
    list-style: none;
    font-family: "Neue Machina", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 20px;
}

.button {
    width: 145px;
    height: 52px;
    font-family: "Neue Machina", Arial, Helvetica, sans-serif;
    border: none;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.nav__button {
    background-color: var(--background-color);
}

.nav__button--black {
    background-color: black;
    color: white;
}

@media screen and (max-width: 360px) {
    .nav__hamburger {display: block;}
    .nav__ul {display: none;}
    .nav__button {display: none;}
    .nav__button--black {display: none;}
}

@media screen and (min-width: 1024px) {
    .nav {width: 960px;}
    .nav__hamburger {display: none;} 
    .nav__ul {display: block;}
    .nav__button {display: block;}
    .nav__button--black {display: block;}
}

@media screen and (min-width: 1440px) {
    .nav {width: 1280px;}
}

@media screen and (min-width: 2560px) {
    .nav {width: 2280px;}
}
