/* auth-button specific configuration + hamburger */
.nav__auth {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.nav__menu-toggle {
  display: block;
  position: absolute;
  background: transparent url("assets/hamburguer.png") no-repeat center;
  border: none;
  z-index: 9999;
  width: 3rem;
  aspect-ratio: 1;
  right: 2em;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav__menu-toggle:focus {
  transform: scale(1.1);
  background-color: var(--accent, --background-color);
  color: var(--font-color);
  outline: var(--outline);
}

.nav__menu-toggle[aria-expanded="true"] {
  background-image: url("assets/closed-menu.png");
  background-color: transparent;
  background-size: contain;
}

.nav__button-container {
  display: none;
}

.nav__button-theme > label {
  width: var(--button-width);
  height: var(--button-height);
  bottom: 7px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.nav__button-theme > label:after {
  content: "";
  width: calc(var(--button-width) / 3);
  height: calc(var(--button-height) - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.nav__button-theme > input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.nav__button-theme > input:checked + label {
  background-color: #242424;
}

.nav__button-theme > input:checked + label:after {
  left: calc(var(--button-width) - 5px);
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.nav__button-theme > label:active::after {
  width: calc(var(--button-width) / 2);
}

@media screen and (min-width: 360px) {
  .nav__menu-toggle {
    display: none;
  }
  .nav__button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
