/* common button configuration */

:root {
    --background-color: #f0f0f0;
}

.button {
    width: 145px;
    height: 52px;
    font-family: "Neue Machina", Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    transition: transform 300ms ease-out;
}

.button:focus-visible {
    transform: scale(1.1);
    background-color: var(--background-color);
    color: black;
    outline: 3px solid black;
}
