/* logo + list of links */

body {
  overflow-x: hidden;
}

a {
  padding: 3px;

  color: var(--font-color);
  text-decoration: none;
}

a:focus {
  outline: var(--outline);
  border-radius: 2rem;
}

.nav__in-site {
  display: flex;
  flex-wrap: wrap;
}

.nav__logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav__link-item {
  margin: 0 20px;

  font-family: var(--font-fam);
  font-size: var(--font-size);

  list-style: none;
}

@media screen and (max-width: 360px) {
  .nav__link-list {
    display: flex;
    gap: 20px;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 1em;

    background: hsl(0, 0%, 0%, 0.1);
    backdrop-filter: blur(1rem);
    
    transition: transform 400ms ease-out;
    transform: translateX(100%);
  }
}

.nav__link-list[data-visible="true"] {
  transform: translateX(0%);
}

@media screen and (min-width: 360px) {
  .nav__link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
