/* common nav configuration */

.nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 332px;
    height: 52px;
    margin: 20px;
}

@media screen and (min-width: 360px){
    .nav {
        max-width: 960px;
        margin: 36px 32px;
        margin-right: 32px;
    }   
}

@media screen and (min-width: 1024px){
    .nav {
        max-width: 1280px;
        margin: 36px 80px;
        margin-right: 80px;
    }   
}

@media screen and (min-width: 2560px){
    .nav {
        max-width: 2280px;
        margin: 36px 1400px;
        margin-right: 1400px;
    }   
}